Q1.What is a database? Differentiate between SQL and NoSQL databases?
ANS: Databases is an organized collection of structured information , or data, typically stored electronically in a computer system. A databases is usually controlled by a database management system(DBMS).
SQL:
1.It is Relatioanal Database Management system.
2.These databases have fixed or static or predefined schema.
3.These databases are not suited for hierarchical data storage.
4.Vertically Scalable
5.Ex:MySql,Oracle
NOSQL:
1.It is Non-Relational or Distributed databases system
2.These databases have dynamic schema.
3.These databases are best suited for hierarchical data storage.
4.Horizontally scalable
5.MongoDB,HBase

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
ANS:DDL(Data Definition Language)-Is a computer language used to create and modify the structure of database object in a database.
In DDL 4 commands are used :
1.CREATE:-It is used to create new table in the  database.
Syntax:
 CREATE TABLE table_name()
2.ALTER:- command used to adds ,deletes ,modifies columns in table.
Syntax:
 ALTER TABLE table_name ADD column_name datatype;
3.DROP :- command used to deletes a tables in the databases.
Syntax:
 DROP TABLE table_name;
TRUNCATE:-cammand used to deletes the data inside a table , but not the tables itself.
Syntax:
 TRAUNCATE TABLE table_name;

Q3.What is DML? Explain INSERT, UPDATE, and DELETE with an example?
Ans:DML(Data Manipulation language) is a group computer language that provide commands for manipulating data in databases.It is sublanguage of a larger database language like SQL.
In DML 4 commands are include.
(INSERT,UPDATE,DELETE ,SELECT )
1.INSERT:-This command can be used to insert data into a row of a table. INSERT INTO would insert the values.
SYNTAX:INSERT INTO NAME_OF_TABLE(col_1,col_2,.....,col_n) VALUES (val_1,val_2,....val_n);
OR
INSERT INTO TABLE_NAME VALUES(1_val,2_val,...,n_val);

EX:INSERT INTO Student (Stu_id, Stu_Name, Stu_Marks, Stu_Age) VALUES (104, Anmol, 89, 19); 

2.UPDATE : This statement in SQL is used to update the data that is present in an existing table of the database.The UPDATE statement can be used to update single or multiple columns on the basis of our specific needs.
Syntax:
UPDATE table_name SET [column_1=Value_1,.....,col_n=val_n] where Condition ;
Ex:
UPDATE Student SET Stu_name='tushar' where stu_age=19;

3.DELETE: This command which allows SQL user to remove the single or multiple existing records  from the database tables.
Syntax:
DELETE FROM table_name where condition;
Ex:
DELETE FROM student where stu_age=19;

Q4. What is DQL? Explain SELECT with an example.
ANS:
DQL is (Data Query Language). It is used to perform queries against the data stored in a relational database.
DQL includes the select statment as well as a variety of operators and functions that can be used to manipilate the retrived data.The SELECT statement is typically used to retrieve data from one or more databases tables , and it can contain various clauses that specify the exact data to retrive  as well as  how it is presented when it's returned.
Example:
SELECT * FROM TABLE_NAME;
DQL statement selected all rows and colums from the table .
The asterisk(*) is a wildcard character that is used to select all columns .

Q5. Explain Primary Key and Foreign Key.
ANS:
Primary Key:-
  1.A Primary key is used to ensure data in the specific colums   is unique.
  2.It is uniquely identifies a record in the relational database table.
  3.Only one primary key is allowed in a table.
  4.It does not allow NULL values
  5.Its values cannot be deleted from the parent table.
Foreign Key:
  1.A Foreign key is a columns  or group  of colums  in a relational databases tables that provides a link between data in two tables.
  2.It refer to the filed  in a table which is the primary key of another table.
  3.More than one foreign key  are allowed  in a table. 
  4.It can also contain NULL value.
  5.Its value can be delteted  from child table.

Q7.Give the order of execution of SQL clauses in an SQL query.
ANS:
Order of execution:
FROM  JOIN WHERE GROUP-BY HAVING SELECT DISTINCT ORDERBY

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
ANS:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

The cursor() method is used to create a cursor object which is used to execute SQL statements and fetch result. The cursor object is created by calling the cursor() method on a database connection object.
Ex. mycursor = mydb.cursor()

The execute method is used to execute SQL statemet through the cursor object. The SQL statement can be a parameterizes query which is a query that has placeholder fro valuesthat wil be supplied later. The values are passed as a tuple or list As second argument to the execute() method.
Ex.cursor.execute('Select * from tabel_name)