1.What is MongoDB?Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

ANS:
MongoDB is a document database with the scalability and flexibility that you want with the querying and indexing that you need. 
NoSQL databases are non tabular databases and stored the data differently than raltional table.NoSQL database come in a variety of types based on their data model.The main type are document key-value,wide-column,and graph. 
Lesser Server Cost and Open Source NoSQL databases are cheap and open Source . NoSQL database implementation is easy and typically uses cheap servers to manage the exploding data and trasaction while RDBMS databases are expensive and it uses big servers and storage system.

Q2. State and Explain the features of MongoDB.
ANS:
1.Document Oriented:
MongoDb stores all the data in the form of documents instead of tables like in RDBMS.In These documents the data is stored in key value pairs instead of rows and columns which make the data much more flexible in comparison to RDBMS where each document contains a unique ID.
2.Schema-less Database:
It is great feature provided by MongoDB which means one collection  can hold differeent types of documents in it .In the MongoDB database, a single collection can hold multiple documents and these documents may consist of the different numbers of fields, content, and size.
3.Scalability:
MongoDB provides horizontal scalability with the help of a mechanism known as sharding.Sharding refers to the process of distributing data on multiple servers, here a large amount of data is partitioned into data chunks using the shard key, and these data chunks are evenly distributed across shards that reside across many physical servers. It can also add new machines to a running database.
4.High Performance:
Due to its features like scalability, indexing, replication the performance of MongoDB becomes very high as also data persistence as compared to any other databases.

 Q3.Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [19]:
import pymongo
client=pymongo.MongoClient("mongodb+srv://tushar:tushar@cluster0.awlnfpa.mongodb.net/?retryWrites=true&w=majority")
db=client.test1
db=client['pwskills2']
coll_pwskill2=db['tush13']

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [20]:
#insert One record
data_1={"name":"tus",
      "cls":"data master"}
coll_pwskill2.insert_one(data_1)

In [21]:
#insert Many Record
data_2 = [
  { "name": "Amy", "address": "Apple st 6523" },
  { "name": "Hannah", "address": "Mountain 213" },
  { "name": "Michael", "address": "Valley 3454" },
  { "name": "Sandy", "address": "Ocean blvd 24" },
  { "name": "Betty", "address": "Green Grass 41" },
  { "name": "Richard", "address": "Sky st 3341" },
  { "name": "Susan", "address": "One way 984" },
  { "name": "Vicky", "address": "Yellow Gard4en 2" },
  { "name": "Ben", "address": "Park Lane 384" },
  { "name": "William", "address": "Central s4 954" },
  { "name": "Chuck", "address": "Main Road 949" },
  { "name": "Viola", "address": "Sideway 1634" }
]

In [22]:
#insert many records
coll_pwskill2.insert_many(data_2)

In [23]:
#find_one()
coll_pwskill2.find_one()

{'_id': ObjectId('642295177ec507e173e9346c'),
 'name': 'tus',
 'cls': 'data master'}

In [24]:
##find()
for i in coll_pwskill2.find():
    print(i)

{'_id': ObjectId('642295177ec507e173e9346c'), 'name': 'tus', 'cls': 'data master'}
{'_id': ObjectId('642295367ec507e173e9346d'), 'name': 'Amy', 'address': 'Apple st 6523'}
{'_id': ObjectId('642295367ec507e173e9346e'), 'name': 'Hannah', 'address': 'Mountain 213'}
{'_id': ObjectId('642295367ec507e173e9346f'), 'name': 'Michael', 'address': 'Valley 3454'}
{'_id': ObjectId('642295367ec507e173e93470'), 'name': 'Sandy', 'address': 'Ocean blvd 24'}
{'_id': ObjectId('642295367ec507e173e93471'), 'name': 'Betty', 'address': 'Green Grass 41'}
{'_id': ObjectId('642295367ec507e173e93472'), 'name': 'Richard', 'address': 'Sky st 3341'}
{'_id': ObjectId('642295367ec507e173e93473'), 'name': 'Susan', 'address': 'One way 984'}
{'_id': ObjectId('642295367ec507e173e93474'), 'name': 'Vicky', 'address': 'Yellow Gard4en 2'}
{'_id': ObjectId('642295367ec507e173e93475'), 'name': 'Ben', 'address': 'Park Lane 384'}
{'_id': ObjectId('642295367ec507e173e93476'), 'name': 'William', 'address': 'Central s4 954'}
{'_id': ObjectId('642295367ec507e173e93477'), 'name': 'Chuck', 'address': 'Main Road 949'}
{'_id': ObjectId('642295367ec507e173e93478'), 'name': 'Viola', 'address': 'Sideway 1634'}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this
ANS:
In MongoDB, find() method is used to select documents in a collection and return a cursor to the selected documents. Cursor means a pointer that points to a document, when we use find() method it returns a pointer on the selected documents and returns one by one.
syntax:
db.Collection_name.find(selection_criteria, projection,options)

In [25]:
#Exapmle
import pymongo
client=pymongo.MongoClient("mongodb+srv://tushar:tushar@cluster0.awlnfpa.mongodb.net/?retryWrites=true&w=majority")
db=client.test1
db=client['pwskills3']
coll_pwskill3=db['tushar']

In [26]:
#insert Many Record
data_3 = [
  { "name": "Amy", "address": "Apple st 6523" },
  { "name": "Hannah", "address": "Mountain 213" },
  { "name": "Michael", "address": "Valley 3454" },
  { "name": "Sandy", "address": "Ocean blvd 24" },
  { "name": "Betty", "address": "Green Grass 41" },
  { "name": "Richard", "address": "Sky st 3341" },
  { "name": "Susan", "address": "One way 984" },
  { "name": "Vicky", "address": "Yellow Gard4en 2" },
  { "name": "Ben", "address": "Park Lane 384" },
  { "name": "William", "address": "Central s4 954" },
  { "name": "Chuck", "address": "Main Road 949" },
  { "name": "Viola", "address": "Sideway 1634" }
]

In [27]:
coll_pwskill3.insert_many(data_3)

In [30]:
coll_pwskill3.find_one({'name':'Susan'})

{'_id': ObjectId('6422978f7ec507e173e93480'),
 'name': 'Susan',
 'address': 'One way 984'}

Q7.Explain why delete_one(), delete_many(), and drop() is used.
ANS:
1.delete_one():In MongoDB, a single document can be deleted by the method delete_one(). The first parameter of the method would be a query object which defines the document to be deleted.
db.collection.delete_one()
2.delete_many():delete_many() is used when one needs to delete more than one document. A query object containing which document to be deleted is created and is passed as the first parameter to the delete_many().
db.collection.delete_many()