Q4.What is ‘DataFrame’ in pandas and how is it different from pandas.series

ANS:A Pandas DataFrame is a 2 dimensional data structure like  a dimensional array or a table with rows and columns.DataFrames are one of the most common data structure used in modern data analytics because they are flexible and intutive way of strong and working with data .
Pandas Series is one dimensional and dataframe is two dimensional . Series elements must be of the same data type, Its Homogenous.DataFrame element different data types,its is Heterogenous.Series is mmutable and DataFrame is mutable.

Q5.What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?
ANS:
1.Read_csv(): This function helps to read comma separted values(csv) file into a Pandas Dataframe.
2.head():It is used to return the first n rows of dataset.By default df.head() return the first 5 row  of the DataFrame.
3.describe():It is used to generate descriptive statistics of the data in Pandas DataFrame or Series.It summarizes central tendency and dispersion of the dataset.
4.memory_usage():return a Pandas series having the memory usage of each column  in pandas datafrmae.
5.to_datetime():it is used to convert p python object to datetime format.It can take  an integer , floating  point number list ,Panda Series , or Pandas Data Frame as argument.
6.value_count():returns a pandas Series containing the counts of unique values. 
7.drop_duplicate():returns a Pandas DataFrame with duplicate rows removed . Even among duplicate theres is an option to keep the first occurrenece(record )of the duplicate or the last.
8.groupby():It is used to group a pandas DataFrame by one or more columns, and perform  some mathematical operation on it.

Q6.Which of the following is mutable in nature Series, DataFrame, Panel?
ANS: Dataframe is mutable in nature.

Q7.Create a DataFrame using multiple Series. Explain with an example.
ANS:
Creating a DataFrame from multiple Series object by adding each series   as a columns.

In [4]:
import pandas as pd
#Create pandas Series
courses=pd.Series(['Data Science','PySpark','Hadoop','Spark'])
fees = pd.Series([22000,34444,54999,43222])
discount=pd.Series([1000,3400,2233,4322])
#combine two series

df=pd.concat([courses,fees,discount],axis=1)
print(df)

              0      1     2
0  Data Science  22000  1000
1       PySpark  34444  3400
2        Hadoop  54999  2233
3         Spark  43222  4322

Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series

In [9]:
import pandas as pd
data=pd.Series([ 4, 8, 15, 16, 23, 42])
print(data)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2.Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [11]:
import pandas as pd
list=['r','t','q','p','s','k','m','c','z','w']

ser=pd.Series(list)
print(ser)

0    r
1    t
2    q
3    p
4    s
5    k
6    m
7    c
8    z
9    w
dtype: object

Q3.Create a Pandas DataFrame that contains the following data:

In [16]:
import pandas as pd
data={'Name':['Alice','Bob','Claire'],
'Age':[25,30,27],
'Gender':['Female','Male','Female']}
df=pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female