 Q1.List any five functions of the pandas library with execution
  ANS:
  1.read_csv():pd.read_csv("csv file_name")
  2.head():df.head()
  3.tail():df.tail()
  4.shape():df.shape()
  5.describe:df.describe()

 Q5.How are DataFrame.size() and DataFrame.shape() different?
 ANS:Size of a dataframe is the number of fileds in the dataframe which is nothing  but number  of rows * number of columns.It return the number of elements in the DataFrame.
 Shape  of a dataframe  gets the number of rows  and number of columns of the dataframe.

Q6. Which function of pandas do we use to read an excel file?
ANS:We can ue the pandas module read_excel()  function to read the excel file data into a DataFrame object.

Q13.To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?
ANS:
To use basic function of pandas we use matplotlib for data visualization and NumPy for mathematical operation.

Q9.Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,median, and standard deviation of the values in the 'Values' column.

In [1]:
import pandas as pd 
data={'Values':[2,3,4,5,6,7,8,3,2]}
df=pd.DataFrame(data)
print(df)

   Values
0       2
1       3
2       4
3       5
4       6
5       7
6       8
7       3
8       2

In [9]:
df.mean()

Values    4.444444
dtype: float64

In [11]:
df.median()

Values    4.0
dtype: float64

In [12]:
df.std()

Values    2.185813
dtype: float64

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [16]:
Date=pd.date_range(start='2023-01-01',end='2023-01-31')
df_date=pd.DataFrame({'date':Date})
df_date

         date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27
27 2023-01-28
28 2023-01-29
29 2023-01-30
30 2023-01-31

Q11.You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05

In [26]:
df=pd.DataFrame({'Date':['2023-01-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05']})
print(df)

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05

In [29]:
df['Weekday']=pd.DataFrame({'Weekday':['Sunday','Monday','Tuesday','Wednesday','Thursday']})
df

         Date    Weekday
0  2023-01-01     Sunday
1  2023-01-02     Monday
2  2023-01-03    Tuesday
3  2023-01-04  Wednesday
4  2023-01-05   Thursday

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.
ANS

In [38]:
df=pd.DataFrame({'TEXT':['Data Science Masters course is highly curated and uniquely designed according to the latest industry standards']})
df['Word_Count']=df['TEXT'].apply(lambda x : len(x.split()))
df

                                                TEXT  Word_Count
0  Data Science Masters course is highly curated ...          16

Q2.Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [52]:
index=['1','2','3']
df=pd.DataFrame({'A','B','C'},index=index)
df

   0
1  A
2  C
3  B

In [53]:
new_index=['1','3','5']
df.reindex(new_index)

     0
1    A
3    B
5  NaN

Q8.You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selectsall rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. Thefunction should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
   A   B   C
0  3   5   1
1  8   2   7
2  6   9   4
3  2   3   5
4  9   1   2

In [58]:
df=pd.DataFrame({'A':[3,8,6,2,9],'B':[5,2,9,3,1],'C':[1,7,4,5,2]})
df

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2

In [59]:
df[(df['A']>5) & (df['B']<10)]

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

In [60]:
df=pd.DataFrame({'Values':[10,20,30,40,50,60]})
df

   Values
0      10
1      20
2      30
3      40
4      50
5      60

In [65]:
sum=df.iloc[0:3].sum()
print(sum)

Values    60
dtype: int64

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains emailaddresses in the format'username@domain.com'. Write a Python function that creates a new column'Username' in df that contains only the username part of each email address.

The username is the part of the email address that appears before the '@' symbol. For example, if theemail address is 'john.doe@example.com', the 'Username' column should contain'john.doe'. Your function should extract the username from each email address and store it in the new 'Username'
column.

In [66]:
import pandas as pd
df = pd.DataFrame({'Email':['tushar@gmail.com','tush12@gmail.com','tu@domain.com']})
df

              Email
0  tushar@gmail.com
1  tush12@gmail.com
2     tu@domain.com

In [70]:
df['Username']=df['Email'].str.split('@').str[0]
print(df)

              Email Username
0  tushar@gmail.com   tushar
1  tush12@gmail.com   tush12
2     tu@domain.com       tu