In [2]:
import pandas as pd
course_name=['Data Science','Machine Learing','Big Data','Data Engineer']
duration=[2,3,6,4]
df=pd.DataFrame(data={'course name':course_name,'duration':duration})
df

       course name  duration
0     Data Science         2
1  Machine Learing         3
2         Big Data         6
3    Data Engineer         4

Q1.Write a code to print the data present in the second row of the dataframe, df

In [6]:
df.iloc[1]

course name    Machine Learing
duration                     3
Name: 1, dtype: object

Q2.What is the difference between the functions loc and iloc in pandas.DataFrame?
ANS:loc in pandas is a Lable based data selector & iloc is a index based data selector.
In loc funtion,Indices should be numerical,else slicing cannot be done.In iloc function,Indices can be numerical or categorical.

Q4.Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [32]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.491466  0.529652  0.007883  0.088071  0.743231  0.480814
2  0.136671  0.504952  0.084082  0.310237  0.305437  0.415757
3  0.372387  0.514716  0.024158  0.565146  0.549984  0.397894
4  0.884811  0.902546  0.824024  0.269461  0.204456  0.587003
5  0.829125  0.119550  0.446560  0.075873  0.735199  0.395073
6  0.632357  0.120267  0.537417  0.191427  0.670600  0.042612

In [33]:
df1.mean()

column_1    0.557803
column_2    0.448614
column_3    0.320687
column_4    0.250036
column_5    0.534818
column_6    0.386525
dtype: float64

In [34]:
df1.std().column_2

0.29538444123690566

Q7.Write a code to print only the current month and year at the time of answering this question?

In [80]:
import pandas as pd
current_time=pd.Timestamp.now()
current_month = current_time.month_name()
current_year=current_time.year

print("Current time:",current_time)
print("Current_month:",current_month)
print("Current_year:",current_year)

Current time: 2023-03-31 12:58:27.096302
Current_month: March
Current_year: 2023

Q8.Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [86]:
import pandas as pd
dt1=pd.to_datetime('2023-05-20')
print(dt1)
dt2=pd.to_datetime('2023-05-25')
print(dt2)
td=pd.Timedelta(days=1,hours=2,minutes=30)

2023-05-20 00:00:00
2023-05-25 00:00:00

In [87]:
dt1-td

Timestamp('2023-05-18 21:30:00')

In [88]:
dt2-td

Timestamp('2023-05-23 21:30:00')

 Q6.What do you understand about the windows function in pandas and list the types of windows functions?
 ANS:The word window means the number of rows between the two boundaries by which we perform calculations including the boundary rows.

 types of windows functions:
 1.Rolling window operations
 2.Weighted window operations
 3.Expanding window operation
 4.Exponentially Weighted window