In [11]:
import pandas as pd
import numpy as np

In [12]:
np.random.seed(12)
n_samples =1000
class_0_ratio=0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1=n_samples - n_class_0

In [13]:
n_class_0,n_class_1

(900, 100)

In [14]:
class_0 = pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature_2':np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0] * n_class_0
    
})

class_1=pd.DataFrame({
    'feature_1':np.random.normal(loc=2,scale=1,size=n_class_1),
    'feature_2':np.random.normal(loc=2,scale=1,size=n_class_1),
    'target':[1] * n_class_1
})

In [16]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [17]:
df.head()

   feature_1  feature_2  target
0   0.472986   0.283943       0
1  -0.681426   0.866102       0
2   0.242439   0.968661       0
3  -1.700736   0.395251       0
4   0.753143   1.036359       0

In [18]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

In [19]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [20]:
df_minority.head()

     feature_1  feature_2  target
900   3.957996   0.815278       1
901  -0.087900   3.799535       1
902   1.277349   2.175456       1
903   0.701206   2.361398       1
904   1.297397   3.440687       1

In [21]:
df_majority.head()

   feature_1  feature_2  target
0   0.472986   0.283943       0
1  -0.681426   0.866102       0
2   0.242439   0.968661       0
3  -1.700736   0.395251       0
4   0.753143   1.036359       0

In [22]:
#upsampling

In [23]:
from sklearn.utils import resample

In [25]:
df_minority_upsample=resample(df_minority,
                              replace=True , ##Sample Wit replacemnet
                              n_samples=len(df_majority),
                              random_state=42)

In [26]:
df_minority_upsample.shape

(900, 3)

In [27]:
df_minority_upsample['target'].value_counts()

1    900
Name: target, dtype: int64

In [29]:
df_upsampled=pd.concat([df_majority,df_minority_upsample])

In [30]:
df_upsampled.shape

(1800, 3)

In [31]:
class_0 = pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature_2':np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0] * n_class_0
    
})

class_1=pd.DataFrame({
    'feature_1':np.random.normal(loc=2,scale=1,size=n_class_1),
    'feature_2':np.random.normal(loc=2,scale=1,size=n_class_1),
    'target':[1] * n_class_1
})

In [32]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [35]:
df_majority_downsample=resample(df_majority,
                              replace=False , ##Sample Wit replacemnet
                              n_samples=len(df_minority),
                              random_state=42)

In [36]:
df_majority_downsample.shape

(100, 3)

In [38]:
df_downsaple=pd.concat([df_minority,df_majority_downsample])

In [40]:
df_downsaple['target'].value_counts()

1    100
0    100
Name: target, dtype: int64

In [43]:
df_downsaple.head()

     feature_1  feature_2  target
900   3.957996   0.815278       1
901  -0.087900   3.799535       1
902   1.277349   2.175456       1
903   0.701206   2.361398       1
904   1.297397   3.440687       1

In [46]:
df_upsampled.tail()

     feature_1  feature_2  target
952   1.716472   2.413664       1
965   2.606102   2.246366       1
976   1.671478   1.464915       1
942   2.638054   1.474522       1
974   2.064655   2.382465       1

**SMOTE**

In [ ]:
from sklearn.datasets import make_classification